.container {
    margin-right: auto;
    margin-left: auto;
}
.row{
    box-sizing: border-box;
    display: flex;
    flex:  0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -0.5em;
    margin-left: -0.5em;
}

/* xs = x-small */
.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12{
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.col-xs{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col-xs-1{
    flex-basis: 8,333333%;
    max-width: 8,333333%;
}
.col-xs-2{
   flex-basis: 16,66666%;
   max-width: 16,66666%;
}
.col-xs-3{
    flex-basis: 25%;
    max-width: 25%;
}

.col-xs-4{
    flex-basis: 33,3332%;
    max-width: 33,3332%;
}
.col-xs-5{
    flex-basis: 41,6666%;
    max-width: 41,6666%;
}
.col-xs-6{
    flex-basis: 50%;
    max-width: 50%;
}
.col-xs-7{
    flex-basis: 58,8888%;
    max-width: 58,8888%;
}
.col-xs-8{
    flex-basis: 66,6666%;
    max-width: 66,6666%;
}
.col-xs-9{
    flex-basis: 75%;
    max-width: 75%;
}
.col-xs-10{
    flex-basis: 83,3333%;
    max-width: 83,3333%;
}
.col-xs-11{
    flex-basis: 91,66666%;
    max-width: 91,66666%;
}
.col-xs-12{
    flex-basis: 100%;
    max-width: 100%;
}

@media only screen and (min-width: 64em) {
    .container{
        width: 65em;
    }
  
.col-xm,
.col-xm-1,
.col-xm-2,
.col-xm-3,
.col-xm-4,
.col-xm-5,
.col-xm-6,
.col-xm-7,
.col-xm-8,
.col-xm-9,
.col-xm-10,
.col-xs-11,
.col-xs-12{
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;   
}
    .col-xm{
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }
    
    .col-xm-1{
        flex-basis: 8.333333%;
        max-width: 8.333333%;
    }
    .col-xm-2{
       flex-basis: 16.66666%;
       max-width: 16.66666%;
    }
    .col-xm-3{
        flex-basis: 25%;
        max-width: 25%;
    }
    
    .col-xm-4{
        flex-basis: 33,3332%;
        max-width: 33,3332%;
    }
    .col-xm-5{
        flex-basis: 41,6666%;
        max-width: 41,6666%;
    }
    .col-xm-6{
        flex-basis: 50%;
        max-width: 50%;
    }
    .col-xm-7{
        flex-basis: 58,8888%;
        max-width: 58,8888%;
    }
    .col-xm-8{
        flex-basis: 66,6666%;
        max-width: 66,6666%;
    }
    .col-xm-9{
        flex-basis: 75%;
        max-width: 75%;
    }
    .col-xm-10{
        flex-basis: 83,3333%;
        max-width: 83,3333%;
    }
    .col-xm-11{
        flex-basis: 91,66666%;
        max-width: 91,66666%;
    }
    .col-xm-12{
        flex-basis: 100%;
        max-width: 100%;
    }
}   

@media only screen and (min-width: 64em) {
  .container{
      width: 49rem;
  }


.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12{
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.col-md{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col-md-1{
    flex-basis: 8,333333%;
    max-width: 8,333333%;
}
.col-md-2{
   flex-basis: 16,66666%;
   max-width: 16,66666%;
}
.col-md-3{
    flex-basis: 25%;
    max-width: 25%;
}

.col-md-4{
    flex-basis: 33,3332%;
    max-width: 33,3332%;
}
.col-md-5{
    flex-basis: 41,6666%;
    max-width: 41,6666%;
}
.col-md-6{
    flex-basis: 50%;
    max-width: 50%;
}
.col-md-7{
    flex-basis: 58,8888%;
    max-width: 58,8888%;
}
.col-md-8{
    flex-basis: 66,6666%;
    max-width: 66,6666%;
}
.col-md-9{
    flex-basis: 75%;
    max-width: 75%;
}
.col-md-10{
    flex-basis: 83,3333%;
    max-width: 83,3333%;
}
.col-md-11{
    flex-basis: 91,66666%;
    max-width: 91,66666%;
}
.col-md-12{
    flex-basis: 100%;
    max-width: 100%;
}
}
@media only screen and (min-width: 75em){
    .container{
    width: 76rem;
    }

.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12{
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.col-md{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col-lg-1{
    flex-basis: 8,333333%;
    max-width: 8,333333%;
}
.col-lg-2{
   flex-basis: 16,66666%;
   max-width: 16,66666%;
}
.col-lg-3{
    flex-basis: 25%;
    max-width: 25%;
}

.col-lg-4{
    flex-basis: 33,3332%;
    max-width: 33,3332%;
}
.col-lg-5{
    flex-basis: 41,6666%;
    max-width: 41,6666%;
}
.col-lg-6{
    flex-basis: 50%;
    max-width: 50%;
}
.col-lg-7{
    flex-basis: 58,8888%;
    max-width: 58,8888%;
}
.col-lg-8{
    flex-basis: 66,6666%;
    max-width: 66,6666%;
}
.col-lg-9{
    flex-basis: 75%;
    max-width: 75%;
}
.col-lg-10{
    flex-basis: 83,3333%;
    max-width: 83,3333%;
}
.col-lg-11{
    flex-basis: 91,66666%;
    max-width: 91,66666%;
}
.col-lg-12{
    flex-basis: 100%;
    max-width: 100%;
}
}